footer {
    height: 1.905cm; /* 0.75 inch */
    background-color: white; /* Change to white */
    color: #3B1C0A; /* Dark Coffee color */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 4px solid #3B1C0A; /* Border */
    padding: 15px; /* Padding */
    border-radius: 25px; /* Border radius */
    margin: 5px; /* Margin */
    font-size: 18px; /* Footer text size */
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

footer:hover {
    background-color: #3B1C0A; /* Change background color on hover */
    color: white; /* Change text color to white on hover */
}

