* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Noto Serif Bengali', "Times New Roman", Times, Arial, Helvetica, sans-serif; /* Set Noto Serif Bengali as the primary font */
  
}


h2 {
    text-align: center;
    font-weight: bold; 
    font-size: 25px; 
}

.container {
    display: flex;
    flex: 1; 
    padding-top: 60px; /* Avoid overlap with fixed header */
    padding-bottom: 30px; /* Space for footer */
}

/* Main Content Styles */
.main-content {
    position: absolute; /* Use absolute positioning */
    top: 110px; /* Position below the header */
    bottom: 85px; /* Keep above the footer */
    left: 220px; /* Align with sidenav */
    right: 5px; /* Space from the right side */
    padding: 15px; /* Padding */
    background-color: white; /* Change to white */
/*  color: #3B1C0A;  Dark Coffee color */
    color: #000000;
    border: 4px solid #3B1C0A; /* Border */
    border-radius: 25px; /* Border radius */
    overflow-y: auto; /* Allows scrolling of content */
    font-size: 20px; 
    color: #000000;
   font-weight: bold;  /* Allows scrolling of content */
}
       .separator {
        border-bottom: 2px solid #7B3F00; /* Line color for separation */
        margin: 0; /* Remove margin to keep it tight with links */
    }

img {
    width: 500px; /* Image filling the cell */
    height: 300px; /* Maintains aspect ratio */
    cursor: pointer; /* Pointer on hover */
}
    
img.sticky {
  position: sticky;
  left: 1400px;
  top: 10px;
  right: 1px;
  width: 30px;;
  height: 40px;
}

