body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidenav {
    width: 200px; /* Adjust width as needed */
    background-color: white; /* Change to white */
    padding: 15px; /* Padding */
    position: fixed; /* Fixed position */
    top: 105px; /* Distance from top */
    bottom: 80px; /* Space for footer height and margin */
    border: 4px solid #3B1C0A; /* Border */
    margin: 5px; /* Margin */
    border-radius: 25px; /* Border radius */
    overflow: hidden; /* Prevents double scrolling */
    transition: background-color 0.3s ease; /* Smooth transition */
    font-size: 20px;
    font-weight: bold;
}

.sidenav h2 {
    position: sticky; /* Makes the heading fixed */
    top: 0; /* Sticks to the top */
   
    z-index: 1; /* Ensure it stays above content */
    margin: 0; /* Remove default margin */
}

.scrollable-content {
    height: calc(100% - 50px); /* Adjust height to leave room for h2 */
    overflow-y: auto; /* Enable scrolling in this section */
}

.link-container {
    border: 4px solid #3B1C0A; /* Border around each link */
    border-radius: 16px; /* Rounded corners */
    margin: 5px 0; /* Space between links */
    padding: 10px; /* Padding inside the border */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.sidenav:hover {
    background-color: #3B1C0A; /* Change background color on hover */
}

.sidenav:hover h2 {
    color: white; /* Change sidebar header text color to white */
}

.sidenav:hover .link-container {
    border-color: white; /* Change border color to white on hover */
}

.link-container a {
    color: #000000; /* Initial link color */
    text-decoration: none; /* Remove underline from links */
    display: block; /* Make the link fill the container */
    width: 100%; /* Full width for better click area */
    text-align: center; /* Center the text */
    transition: color 0.3s ease; /* Smooth transition for link color */
}

.sidenav:hover .link-container a {
    color: white; /* Change link text color to white on hover */
}

